{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyPNWbBWQeA2L9BOX/L9G5mI"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"markdown","source":["streamlit\n","google-genai\n","requests\n"],"metadata":{"id":"vB5Ai2jGjPxf"}}]}